.barsBox {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--bg-color);
    transition: background-color 0.5s ease;
}

.barsBox .bar {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: hide-bars 0.5s ease-in-out both;
    animation-delay: calc(0.1s * var(--i));
}

.barsBox.active .bar {
    animation: show-bars 0.5s ease-in-out both;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide-bars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}