section .section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}

section .active {
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: var(--main-color);
}

.servicesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.servicesContainer .servicesBox {
    padding: 2rem 2rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
}

.servicesContainer .servicesBox:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.servicesBox .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicesBox .icon i {
    font-size: 3.5rem;
    transition: .5s;
}

.servicesBox:hover .icon:not(a i) {
    color: var(--main-color);
}

.servicesBox .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: .5s;
}

.servicesBox:hover .icon a {
    background: var(--main-color);
}

.servicesBox .icon a i {
    font-size: 2.5rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.servicesBox .icon a:hover i {
    transform: rotate(180deg);
}

.servicesBox h3 {
    font-size: 2.5rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}

.servicesBox:hover h3 {
    color: var(--main-color);
}

.servicesBox p {
    font-size: 1rem;
}